<!-- Highlighting: https://stackoverflow.com/questions/70370200 -->
<!-- Sticky headers: https://stackoverflow.com/questions/15811653 -->
<!-- Tooltip: https://www.w3schools.com/css/css_tooltip.asp -->
<!-- UTF: https://www.w3schools.com/charsets/ref_utf_dingbats.asp -->

<style>
/* Blur - useful when updating README images */
/*
.col {
  filter: blur(4px);
}

.row {
  filter: blur(5px);
}
*/
/* Table content */

table {
  border-collapse: separate;
  color:#505759;
  overflow: hidden;
}

th {
  padding: 6px;
}

td {
  border: 1px solid white;
  border-collapse: collapse;

  padding: 6px;
  vertical-align: center;
  text-align: center;
  position: relative;
}

tr:hover {
   background-color: #F1EFEB;
}

tr:first-child {
  z-index: 2;
  position: relative;
}

tr:not(:first-child) td:not(:first-child):hover::after {
  background-color: #F1EFEB;
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

tr {
  background-color: transparent;
  padding-bottom: 5rem;
}

thead > tr > th {
  text-align: left;
  background-color: #d1dde0;
  white-space: nowrap;
  font-weight: bold;
  color: #505759;

  /* Sticky header */
  position: sticky;
  top: 0;
}

tbody > tr > th {
  text-align: left;
  background-color: #d1dde0;
  width: auto;
  font-weight: bold;
  color: #505759;

  /* Sticky first column */
  position: sticky;
  left: 0;
  z-index: 1;
}

/* Tooltip container */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: rgb(105, 112, 86);
  color: moccasin;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>

<main>
  <table style="overflow: scroll;">
    <thead>
      <tr>
        <th></th>
        {% for label in labels %}
          <th class="col">{{ label }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <th class="row">
            {% if row['deleted'] %}
                <s>{{ row['username'] }}</s>
            {% else %}
                <a href="https://fansly.com/{{ row['username'] }}" id="{{ row['id'] }}">{{ row['username'] }}</a>
            {% endif %}

            {% if row['oldNames'] | length > 0 %}
              <div class="tooltip">
                <sup>old names</sup>
                <div class="tooltiptext">
                  <ul style="list-style: none;">
                    {% for oldName in row['oldNames'] %}
                      <li>{{ oldName }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}

            {% if row['notes'] | length > 0 %}
              <div class="tooltip">
                <sub>notes</sub>
                <div class="tooltiptext">
                  {% for note in row['notes'] %}
                    <b>{{ note['title'] }}</b>
                    <br/>
                    {% autoescape false %}
                        {{ note['data'] | urlize | replace('\n', '<br/>') }}
                    {% endautoescape %}

                    {% if not loop.last %}
                      <br/>
                      <hr/>
                      <br/>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </th>
          {% for in_list in row['data'] %}
            {% if in_list %}
              <td style="color: green;">&#x2714;</td>
            {% else %}
              <td style="color: red;">&#x2717;</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    <tbody>
  </table>
</main>
